.app {
  display: block;
  height: 100%;
}
.content-container {
  position: relative;
  display: flex;
  margin-top: 80px;
  height: calc(100% - 80px);

  border: 3px solid red;
}
.text-center {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
