.app {
  display: block;
  min-height: 100%;
}
.content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  /*height: calc(100% - 80px);*/
  min-height: calc(100% - 80px);
  overflow: hidden;
  /*border: 3px solid red;*/
}
.text-center {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 950px) {
  .content-container {
    display: block;
  }
}